@font-face { 
	font-family: "No Name Yet - vo.1";
	src: url("../font/NoNameYet-vo-1GX.ttf");
}

*{
	box-sizing: border-box;
}


body{
	margin: 0;
	font-family: "No Name Yet - vo.1";
	src: url("../font/NoNameYet-vo-1GX.ttf");
}
::-webkit-scrollbar{ display:none; }

.drawer{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index:100;
}

.drawer .handle{
	height: 100vh;
	width: 30px;
	/*background: rgba(255,255,255,0.7);*/
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:30px;
	font-family: 'OpenSans-SemiBold';
	src: url("../font/OpenSans-SemiBold.ttf");
}

.left .handle span{
	transform: rotate(-90deg);
	color: #fff;
	margin-left:20px;
}

.right .handle span{
	transform: rotate(90deg);
	color: #fff;
	margin-right:20px;
}

.left{
	background: #F00;
	left: -100vw;
}

.left .handle{
	left: 100vw;
}

.right{
	background: #0F0;
	left: 100vw;
}

.right .handle{
	left: -30px;
}

.close {
	position:absolute;
	top:5px;
	font-size:30px;
	/*display:none;*/
	z-index: 9999;
	color: #fff;
	font-family: 'OpenSans-SemiBold';
}

.left .close{
	right:20px;
}

.right .close{
	left:20px;
}

.scrollcontainer{
	overflow: auto;
	background: #000;
	height: 100vh;
	width: 100vw; 
	padding: 80px 40px;
}


.hide{
	display: none !important;
}


.slider {
	z-index: 1;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 20%;
	height: 1px;
	border-radius: 5px;   
	background: #333;
	padding: 0px;
	/*margin: 5px;*/
	outline: none;
	bottom: 0.75em;
}
.slider::-webkit-slider-thumb {
	z-index: 3;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 18px;
	height: 1.5em;
	border-radius: 50px; 
	background: #fff;
	cursor: auto;
}


.texttry{
	outline: none;
	text-transform: uppercase;

	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


::selection{
color: #32DBC6; 
  background: #000;
}


.titre {
	position:relative; margin:150px auto 0 auto; width:90%;text-align:center;
	font-family: 'NoNameYet-vo1-Scratchy';color:#fff; font-size:10vw;
	text-transform: uppercase;
	
}
#intro {
	position:relative;
	margin:30px auto 0 auto;
	width:85%;
	text-align:left;
	font-family: 'OpenSans-SemiBold';
	color:#fff; font-size:1.9vw;
	line-height:1.5em;
	/*padding-left: 10vw;*/
}
#variantes {
	position:relative;margin:100px auto 0 auto; width:90%;text-align:center;
	font-family: 'OpenSans-SemiBold';color:#fff; font-size:1.9vw;line-height:1.5em;
}
.variantes-col { position:relative;float:left;width:31.33%;margin:0 1% 0 1%;}
.variantes-col img { width:100%;height:auto;border:solid 1px #fff;  }
.variantes-col div { margin-bottom:50px; }
.clear { clear:both; }
#variantes-text {
	position:relative;margin:30px auto 0 auto; width:85%;text-align:left;
	font-family: 'OpenSans-SemiBold';color:#fff; font-size:1.9vw;line-height:1.5em;
}
.variantes-dot { position:relative;top:5px;display:inline;font-size:3vw;line-height:1.4em;  }

#grille {
	position:relative;margin:50px auto 0 auto; width:90%;
}
.poster { position:relative;float:left;width:31.33%;margin:15px 1% 15px 1%;
	background-size:cover;background-repeat: no-repeat;background-position: center center;height:500px;border:solid 1px #fff;
 }
/*.poster img { width:100%;height:auto;border:solid 1px #fff;  }*/
#index-anim { width:90%;margin:100px auto 0 auto;height:750px;border:solid 0px #f00;  }
#index-anim::-webkit-scrollbar { 
	display: none; 
}
iframe::-webkit-scrollbar { 
	display: none; 
}
#index-anim iframe { width:100%;height:100%; }
#custom-cursor {
	position:absolute;top:0;left:0;width:94px;height:100px;
	background-size:cover;background-repeat: no-repeat;background-position: center center;
	background-image:url(../imgs/mouse.svg);z-index:10000;
}

.footer 	{
	position:absolute; margin:0x auto 0 auto; width:85%;text-align:left;
	font-family: 'OpenSans-SemiBold'; color:#fff; 
	font-size:1.9vw;line-height:0.5em;
}

body{
	cursor: url(../imgs/mouse.svg), auto;
}
