@font-face {
    font-family: 'NoNameYet-vo1-Regular';
    src: url('NoNameYet-vo1-Regular.eot');
    src: url('NoNameYet-vo1-Regular.eot?#iefix') format('embedded-opentype'),
        url('NoNameYet-vo1-Regular.woff2') format('woff2'),
        url('NoNameYet-vo1-Regular.woff') format('woff'),
        url('NoNameYet-vo1-Regular.ttf') format('truetype'),
        url('NoNameYet-vo1-Regular.svg#NoNameYet-vo1-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoNameYet-vo1-Scratchy';
    src: url('NoNameYet-vo1-Scratchy.eot');
    src: url('NoNameYet-vo1-Scratchy.eot?#iefix') format('embedded-opentype'),
        url('NoNameYet-vo1-Scratchy.woff2') format('woff2'),
        url('NoNameYet-vo1-Scratchy.woff') format('woff'),
        url('NoNameYet-vo1-Scratchy.ttf') format('truetype'),
        url('NoNameYet-vo1-Scratchy.svg#NoNameYet-vo1-Scratchy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoNameYet-vo1-Mimetic';
    src: url('NoNameYet-vo1-Mimetic.eot');
    src: url('NoNameYet-vo1-Mimetic.eot?#iefix') format('embedded-opentype'),
        url('NoNameYet-vo1-Mimetic.woff2') format('woff2'),
        url('NoNameYet-vo1-Mimetic.woff') format('woff'),
        url('NoNameYet-vo1-Mimetic.ttf') format('truetype'),
        url('NoNameYet-vo1-Mimetic.svg#NoNameYet-vo1-Mimetic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoNameYet-vo1-Geometric';
    src: url('NoNameYet-vo1-Geometric.eot');
    src: url('NoNameYet-vo1-Geometric.eot?#iefix') format('embedded-opentype'),
        url('NoNameYet-vo1-Geometric.woff2') format('woff2'),
        url('NoNameYet-vo1-Geometric.woff') format('woff'),
        url('NoNameYet-vo1-Geometric.ttf') format('truetype'),
        url('NoNameYet-vo1-Geometric.svg#NoNameYet-vo1-Geometric') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoNameYet-vo1-Linear';
    src: url('NoNameYet-vo1-Linear.eot');
    src: url('NoNameYet-vo1-Linear.eot?#iefix') format('embedded-opentype'),
        url('NoNameYet-vo1-Linear.woff2') format('woff2'),
        url('NoNameYet-vo1-Linear.woff') format('woff'),
        url('NoNameYet-vo1-Linear.ttf') format('truetype'),
        url('NoNameYet-vo1-Linear.svg#NoNameYet-vo1-Linear') format('svg');
    font-weight: normal;
    font-style: normal;
}

